@media (min-width: 768px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
}

.fit-cover {
  object-fit: cover;
}

.tirar-espacos-li > li > * {
  padding: 0;
  margin: 0;
}

.tirar-espacos-li > li {
  margin-bottom: 1rem;
}

#hero img {
  max-height: 30vh;
}

@media (min-width: 768px) {
  .revert-on-pc {
    display: flex;
    flex-direction: row-reverse;
  }
}

