/home/joao/programas/meuprojetinho/projetos/teste1
/home/joao/programas/meuprojetinho/projetos/teste2
<fieldset class="accordion-item" id="accordiones">
            <legend class="accordion-header" role="tab">
                <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#{{categoria}}-filtro" 
                    aria-expanded="false" aria-controls="{{categoria}}-filtro"> {{nome_accordion}}
                </button>
            </legend>
            <div id="{{categoria}}-filtro" class="collapse" role="tabpanel">
                <div class="accordion-body">
                    



                </div>
            </div>
        </fieldset>


<fieldset class="accordion-item" id="accordiones">
            <legend class="accordion-header" role="tab">
                <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#{{categoria}}-filtro" 
                    aria-expanded="false" aria-controls="{{categoria}}-filtro"> {{nome_accordion}}
                </button>
            </legend>
            <div id="{{categoria}}-filtro" class="collapse" role="tabpanel">
                <div class="accordion-body">
                    



                </div>
            </div>
        </fieldset>


/home/joao/programas/meuprojetinho/dist/lista-projetos/index.html
