/home/joao/programas/meuprojetinho/projetos/teste1
/home/joao/programas/meuprojetinho/projetos/teste2
{
  descricao = "desc teste2",
  imagem = "gato2.jpeg",
  tags = {
    framework = { "flask" },
    linguagem = { "python" }
  },
  titulo = "teste2"
}
<div class="col" id="card-projeto"><img class="rounded img-fluid d-block w-100 fit-cover" style="height:200px;" src="{{titulo}}/{{imagem}}">
                        <div class="bg-primary rounded p-2">


<span class="badge bg-secondary bg-primary me-1" id="tag-projeto">flask</span>
<span class="badge bg-secondary bg-primary me-1" id="tag-projeto">python</span>


</div><a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{titulo}}/">
                            <h4 class="text-primary-emphasis d-inline me-1">{{titulo}}</h4><svg class="icon icon-tabler icon-tabler-external-link" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"></path></svg>
                        </a>
                        <p>{{descricao}}</p>
                    </div>


<div class="col" id="card-projeto"><img class="rounded img-fluid d-block w-100 fit-cover" style="height:200px;" src="{{titulo}}/{{imagem}}">
                        <div class="bg-primary rounded p-2"><span class="badge bg-secondary bg-primary me-1" id="tag-projeto">flask</span>
<span class="badge bg-secondary bg-primary me-1" id="tag-projeto">python</span></div><a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{titulo}}/">
                            <h4 class="text-primary-emphasis d-inline me-1">{{titulo}}</h4><svg class="icon icon-tabler icon-tabler-external-link" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"></path></svg>
                        </a>
                        <p>{{descricao}}</p>
                    </div>
{
  descricao = "desc teste1",
  imagem = "gato1.jpeg",
  tags = {
    framework = { "vue" },
    linguagem = { "js" }
  },
  titulo = "teste1"
}
<div class="col" id="card-projeto"><img class="rounded img-fluid d-block w-100 fit-cover" style="height:200px;" src="{{titulo}}/{{imagem}}">
                        <div class="bg-primary rounded p-2">


<span class="badge bg-secondary bg-primary me-1" id="tag-projeto">vue</span>
<span class="badge bg-secondary bg-primary me-1" id="tag-projeto">js</span>


</div><a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{titulo}}/">
                            <h4 class="text-primary-emphasis d-inline me-1">{{titulo}}</h4><svg class="icon icon-tabler icon-tabler-external-link" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"></path></svg>
                        </a>
                        <p>{{descricao}}</p>
                    </div>


<div class="col" id="card-projeto"><img class="rounded img-fluid d-block w-100 fit-cover" style="height:200px;" src="{{titulo}}/{{imagem}}">
                        <div class="bg-primary rounded p-2"><span class="badge bg-secondary bg-primary me-1" id="tag-projeto">vue</span>
<span class="badge bg-secondary bg-primary me-1" id="tag-projeto">js</span></div><a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{titulo}}/">
                            <h4 class="text-primary-emphasis d-inline me-1">{{titulo}}</h4><svg class="icon icon-tabler icon-tabler-external-link" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"></path></svg>
                        </a>
                        <p>{{descricao}}</p>
                    </div>
/home/joao/programas/meuprojetinho/dist/lista-projetos/index.html
